#columns {
    column-width: 350px;
    column-gap: 20px;
}

#columns figure {
    display: inline-block;
}
#columns figure img {
    width: 250px;
    box-shadow: 2px 2px 5px pink;
}

body {
    background-color: beige;
}

.header {
    text-align: center;
    background-color: gray;
    
}
@media screen and (max-width: 768px) {
    #columns {
        column-width: 300px;
    
    }
    #columns figure{
        text-align: center;
    }
    
}